
// import css reset, vars and other
@import 'imports/_reset.scss';

@import 'imports/_flaticon.scss';



//fonts family
@font-face {
    font-family: gotham;
    src: url(../font/Gotham_HTF_Book.ttf);
}

// define html and body to fill screen width
html, body{
    height: 100%;
}

// default behaviour for <a> tag
a{
    color: white;
}
a:hover{
    color: white;
    opacity: 0.7;
    text-decoration: none;
}


// container of all elements
.page{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    // define background img and set it
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// define container for logo, name, and navbar-right
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    background: linear-gradient(#333235, #5a5a5a);

    height: 70px;
    padding: 0px 15px;

    .logo-container{
        width: 100px;
    }
    >div:nth-of-type(2){
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
    }
    .navbar-right{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 85px;
        font-size: 15px;

        >div>a{
            padding: 13px;
        }

        // not displayed in mobile mode (cloud and temp)
        .flaticon-clouds-and-sun, .delimiter, >div:nth-of-type(4){
            display: none;
        }
    }
}

//not displayed in mobile mode (socials navbar) 
.navbar-left{
    display: none;
}

// container of the navbar-bottom, center navbar-bottom
.center{
    display: flex;
    justify-content: center;
}

// 80% of parents, and items take 100% of parents
.navbar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    div{
        width: 100%;
        padding: 1px 0px;
    }

    a{
        display: flex;
        justify-content: center;
        text-align: center;

        width: 100%;
        padding: 20px;
        font-weight: 700;
        background-color: rgba(0,0,0,0.6);
        color: white;
        font-size: 20px;
        font-family: gotham;
    }
}

// desktop version
@media screen and (min-width: 768px) {

    // header height, logo and navbar-right bigger, cloud and temp displayed
    header{
        height: 85px;
        padding: 0px 20px;
    
        .logo-container{
            width: 180px;
        }
        >div:nth-of-type(2){
            font-size: 30px;
        }
        .navbar-right{
            width: 240px;
            font-size: 20px;

    
            // displayed in desktop mode
            .flaticon-clouds-and-sun{
                display: initial;
                font-size: 30px;
            }
            .delimiter{
                display: initial;
                height: 30px;
                border-right: 1px solid white;
            }
            >div:nth-of-type(4){
                display: initial;
            }
        }
    }
    
    // navbar-left displayed and hovered
    .navbar-left{
        display: flex;
        position: fixed;
        top: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1481ca;
        width: 55px;

        >div{
            display: flex;
            >a{
                display: flex;
                width: 100%;
                padding: 20px;
                font-size: 23px
            }
            .drop{
                display: none;
                width: 110px;
                text-align: center;
            }

        }
        
        >div:hover>.drop{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 20px;
            font-size: 20px;
            font-family: gotham;

        }

    }
    .navbar-left>div:hover{
        width: 200px;
        margin-left: 137px;
        background-color: #023e66;
    }
    .navbar-left>div:hover a{
        opacity: 1;
    }

    // navbar-bottom change disposition and size
    .navbar-bottom{
        flex-direction: row;
        div{
            padding: 0px 1px;
        }

        a{    
            padding: 15px; 
            font-size: 17px;
        }
    }
}
