    /*
    Flaticon icon font: Flaticon
    Creation date: 16/11/2020 18:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot") format("embedded-opentype"),
       url("../font/Flaticon.woff2") format("woff2"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-instagram:before { content: "\f100"; }
.flaticon-facebook-logo:before { content: "\f101"; }
.flaticon-twitter:before { content: "\f102"; }
.flaticon-pinterest-round-logo:before { content: "\f103"; }
.flaticon-youtube:before { content: "\f104"; }
.flaticon-linkedin:before { content: "\f105"; }
.flaticon-loupe:before { content: "\f106"; }
.flaticon-more:before { content: "\f107"; }
.flaticon-clouds-and-sun:before { content: "\f108"; }
    
    $font-Flaticon-instagram: "\f100";
    $font-Flaticon-facebook-logo: "\f101";
    $font-Flaticon-twitter: "\f102";
    $font-Flaticon-pinterest-round-logo: "\f103";
    $font-Flaticon-youtube: "\f104";
    $font-Flaticon-linkedin: "\f105";
    $font-Flaticon-loupe: "\f106";
    $font-Flaticon-more: "\f107";
    $font-Flaticon-clouds-and-sun: "\f108";